include ~common/views/_mixins.pug

td: +image(image, 'cart-item')
td= name
td
  span.quantity_modifier
    i.fa.fa-minus(aria-hidden="true")
  p= count
  span.quantity_modifier
    i.fa.fa-plus(aria-hidden="true")
td $#{price}
