td: +image('sashimi-salad.jpg', 'cart-item')
td Sashimi salad
td
  span.quantity_modifier
    i.fa.fa-minus(aria-hidden="true")
  p 1
  span.quantity_modifier
    i.fa.fa-plus(aria-hidden="true")
td $12.00
