include ~common/views/_mixins.pug

- const countTotal = `${itemCount} items${itemCount === 1 ? 's' : ''}`
a.logo(href="/")
  +image('logo.png', 'logo')
.cart
  a(href="/")
    span.left Shopping Cart
    span.right
      span.count= countTotal
