include _mixins.pug

li
  article
    header
      figure
        +image('sashimi-salad.jpg', "menu-item")
      h2.name Sashimi salad
    p.price $12.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('chirashi-sushi.jpg', "menu-item")
      h2.name Chirashi sushi
    p.price $21.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('seaweed-salad.jpg', 'menu-item')
      h2.name Seaweed salad
    p.price $17.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('edamame.jpg', 'menu-item')
      h2.name Edamame
    p.price $4.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('miso-soup.jpg', 'menu-item')
      h2.name Miso soup
    p.price $4.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('maguro.jpg', 'menu-item')
      h2.name Maguro
    p.price $12.50
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('shake.jpg', 'menu-item')
      h2.name Shake
    p.price $10.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('shiromi.jpg', 'menu-item')
      h2.name Shiromi
    p.price $9.50
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('tekka-maki.jpg', 'menu-item')
      h2.name Tekka maki
    p.price $6.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('hosomaki-mix.jpg', 'menu-item')
      h2.name Hosomaki Mix
    p.price $17.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('california-rolls.jpg', 'menu-item')
      h2.name California rolls
    p.price $7.75
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('seattle-rolls.jpg', 'menu-item')
      h2.name Seattle rolls
    p.price $8.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('spicytuna-rolls.jpg', 'menu-item')
      h2.name Spicy Tuna rolls
    p.price $6.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('ebi-rolls.jpg', 'menu-item')
      h2.name Ebi rolls
    p.price $8.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('chicken-teriyaki.jpg', 'menu-item')
      h2.name Chicken Teriyaki
    p.price $12.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('salmon-teriyaki.jpg', 'menu-item')
      h2.name Salmon Teriyaki
    p.price $13.50
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('gohan.jpg', 'menu-item')
      h2.name Gohan
    p.price $3.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('tori-katsu.jpg', 'menu-item')
      h2.name Tori Katsu
    p.price $11.00
    footer
      a.add_cart(href="#") Add to cart
li
  article
    header
      figure
        +image('yaki-udon.jpg', 'menu-item')
      h2.name Yaki Udon
    p.price $11.50
    footer
      a.add_cart(href="#") Add to cart
